<h1>Emoji Diary - Basic Function</h1>

<h2>Emoji to Select</h2>

<ul>
  {{#each feelings}}
    {{#unless selected}}
      {{> feelings/feeling-block selected=false}}
    {{/unless}}
  {{/each}}
</ul>
<br>
<br>

<h2>Selected Emoji</h2>

<ul>
  {{#each feelings}}
    {{#if selected}}
      {{> feelings/feeling-block selected=true}}
    {{/if}}
  {{/each}}
</ul>

