<li>
	<p class="emoji" style="font-size: 50px">{{feeling_emoji}}</p>

	<button class="change-select" data-id="{{id}}" data-newselect="{{select}}">
		{{#if select}}selected{{else}}select{{/if}}
	</button>

</li>